{
  "presets": ["@babel/env", "@babel/flow", "@babel/stage-0"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    },
    "production": {
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
